* {
    box-sizing: border-box; /* not completely needed, yet useful */
}

.article {
    background: rgba(255, 255, 255, 0.8);

    border-radius: 25px;
    width: 66%;
    position: absolute;
    top: 25%;
    left: 17%;
    font-family: Georgia, serif;
    font-size: 75%;
    text-align: center;
}



body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {
    background: rgba(0, 0, 0, 0.45);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    padding: 1rem;
    border-radius: 25px;
}

a{
    font-size: 3.5vh;
    text-align: center;
}

a:link {
    color: #b3ff4b;
    text-decoration: none;
}

a:visited {
    color: #b3ff4b;
    text-decoration: none;
}